<h1>HOME PAGE</h1>

<div class="columns">
  <%= link_to 'CREATE POST', new_post_path %>
</div>

<% @post.each do |p| %>
  <br/>
  <strong> <%= p.title %></strong> <br/>
  <%= p.body %> <br/>

  <%= link_to 'Edit Post', edit_post_path(p) %><br/>

<% end %>
